<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <h4>Historical</h4>
        </div>
        <div class="panel-title pull-right">
            <img src="./assets/sweep.png" class="img-responsive" id="sweep-img" (click)="clearCache()">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body text-center" id="panel-body-sentence-historical">
        <ul class="list-group">
            <ng-container *ngFor="let sentence of sentenceHistorical">
                <li *ngIf="categoryIsSelected(sentence.categories) 
                    || categoryFilterIsEmpty()" class="list-group-item">{{sentence.joke}}</li>
            </ng-container>
        </ul>
    </div>
</div>